/* Style untuk seluruh halaman */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #001f3f, #0074D9); /* Gradien biru tua ke biru muda */
    color: #fff;
    text-align: center;
}

/* Style untuk header */
header {
    background-color: #001f3f;
    padding: 20px;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

/* Style untuk konten utama */
main {
    padding: 20px;
}

main h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

/* Style untuk footer */
footer {
    background-color: #001f3f;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}
